<a href="https://colab.research.google.com/github/Vaycold/Python_ML/blob/main/Financial_ML/%EA%B8%88%EC%9C%B5%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

   - [US Adult Income] from UCI(https://archieve.jcs.uci.edu/ml/datasets/adult)


    age             : 나이
    workclass       : 직업구분
    education       : 교육수준
    education.num   : 교육수준(numerically coded)
    marital.status  : 혼인상태
    occupation      : 직업
    relationship    : 가족관계
    race            : 인종
    sex             : 성별
    capital.gain    : 자본이득
    capital.loss    : 자본손실
    hours.per.week  : 주당 근로시간
    income          : 소득 구분 ( Binary )

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [4]:
datapath = 'https://github.com/mchoimis/financialML/raw/main/income/'
df = pd.io.parsers.read_csv(datapath+'income.csv')
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [5]:
print(df.shape)
print(df.columns)

(32561, 15)
Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
# Checking the missing value
# Changing '?' into missing value
df[df=='?'] = np.nan
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90       NaN   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66       NaN  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
# Filling the missing value with mode value

for col in ['workclass','occupation', 'native.country'] :
    df[col].fillna(df[col].mode()[0], inplace = True)
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90   Private   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66   Private  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [10]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [11]:
# Feature Engineering
x = df.drop(
    ['income','education','fnlwgt'], axis=1
)
y = df['income']

In [12]:
x.head()

   age workclass  education.num  ... capital.loss hours.per.week native.country
0   90   Private              9  ...         4356             40  United-States
1   82   Private              9  ...         4356             18  United-States
2   66   Private             10  ...         4356             40  United-States
3   54   Private              4  ...         3900             40  United-States
4   41   Private             10  ...         3900             40  United-States

[5 rows x 12 columns]

In [13]:
y.head()

0    <=50K
1    <=50K
2    <=50K
3    <=50K
4    <=50K
Name: income, dtype: object

In [14]:
# Spit the raw data into train/test data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 0)
x_train.head()

       age    workclass  ...  hours.per.week native.country
32098   40    State-gov  ...              20  United-States
25206   39    Local-gov  ...              38  United-States
23491   42      Private  ...              40  United-States
12367   27    Local-gov  ...              40  United-States
7054    38  Federal-gov  ...              40  United-States

[5 rows x 12 columns]

In [15]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [16]:
# processing the categorical feature
from sklearn.preprocessing import LabelEncoder

categorical = ['workclass','marital.status','occupation','relationship','race','sex','native.country']
for feature in categorical :
    le = LabelEncoder()
    x_train[feature] = le.fit_transform(x_train[feature])
    x_test[feature] = le.transform(x_test[feature])
    
# Method for changing numerically

In [17]:
x_train[categorical]

       workclass  marital.status  occupation  ...  race  sex  native.country
32098          6               2           3  ...     4    0              38
25206          1               2           6  ...     4    1              38
23491          3               4           3  ...     4    0              38
12367          1               4           4  ...     4    1              38
7054           0               2           3  ...     4    1              38
...          ...             ...         ...  ...   ...  ...             ...
13123          5               2           4  ...     4    1              38
19648          3               2          13  ...     4    1              38
9845           3               4          11  ...     2    1              38
10799          3               2           3  ...     4    1              38
2732           3               2           2  ...     4    1              38

[22792 rows x 7 columns]

In [18]:
x_test[categorical]

       workclass  marital.status  occupation  ...  race  sex  native.country
22278          3               6          11  ...     4    0              38
8950           3               4           5  ...     4    0              38
7838           3               4           7  ...     1    0              39
16505          0               2           9  ...     4    1              38
19140          3               2          11  ...     4    1              38
...          ...             ...         ...  ...   ...  ...             ...
21949          5               2           4  ...     4    1              38
26405          3               2          11  ...     4    1              38
23236          3               4           9  ...     4    1              38
26823          3               4           6  ...     2    0              38
20721          3               2           2  ...     4    1              38

[9769 rows x 7 columns]

In [19]:
# 범주변수의 처리
# -1. 클래스를 숫자로 변환 -> Numerically 
# -2. one-hot-encoding

In [20]:
# Scaling the feature

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = pd.DataFrame(scaler.fit_transform(x_train), columns = x.columns)
x_test_scaled = pd.DataFrame(scaler.transform(x_test), columns = x.columns)

In [21]:
x_train_scaled

            age  workclass  ...  hours.per.week  native.country
0      0.101484   2.600478  ...       -1.662414        0.262317
1      0.028248  -1.884720  ...       -0.200753        0.262317
2      0.247956  -0.090641  ...       -0.038346        0.262317
3     -0.850587  -1.884720  ...       -0.038346        0.262317
4     -0.044989  -2.781760  ...       -0.038346        0.262317
...         ...        ...  ...             ...             ...
22787  3.763293   1.703439  ...       -0.038346        0.262317
22788 -0.191461  -0.090641  ...       -0.038346        0.262317
22789 -0.923823  -0.090641  ...        0.854891        0.262317
22790  0.394429  -0.090641  ...       -0.038346        0.262317
22791  0.028248  -0.090641  ...       -0.038346        0.262317

[22792 rows x 12 columns]

In [22]:
x_test_scaled

           age  workclass  ...  hours.per.week  native.country
0     1.273263  -0.090641  ...       -0.038346        0.262317
1    -1.436476  -0.090641  ...       -1.256397        0.262317
2    -1.143531  -0.090641  ...       -0.444363        0.427425
3    -0.118225  -2.781760  ...       -0.038346        0.262317
4     0.760610  -0.090641  ...        0.773687        0.262317
...        ...        ...  ...             ...             ...
9764 -0.118225   1.703439  ...        0.773687        0.262317
9765 -0.923823  -0.090641  ...       -0.038346        0.262317
9766 -0.997059  -0.090641  ...       -0.038346        0.262317
9767 -0.337933  -0.090641  ...        0.611281        0.262317
9768  0.833846  -0.090641  ...        0.773687        0.262317

[9769 rows x 12 columns]

## Logistic Classifier

In [23]:
# Linear Classifier
# [Original Data]
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
y_pred = logreg.predict(x_test)
logreg_score = accuracy_score(y_test, y_pred)

print('Logistic Regression score : ',round(logreg_score,4))

Logistic Regression score :  0.8057

In [25]:
# [Scaled Data]

logreg = LogisticRegression()
logreg.fit(x_train_scaled, y_train)
y_pred = logreg.predict(x_test_scaled)
logreg_score = accuracy_score(y_test, y_pred)
print('Logistic Regression score : ',round(logreg_score,4))

Logistic Regression score :  0.8222

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.84      0.94      0.89      7410
        >50K       0.71      0.44      0.55      2359

    accuracy                           0.82      9769
   macro avg       0.78      0.69      0.72      9769
weighted avg       0.81      0.82      0.81      9769

## Randomforest

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
y_pred = rf.predict(x_test)
rf_score = accuracy_score(y_test, y_pred)
print('RandomForest Classifier Accuracy score : ', round(rf_score,4))

RandomForest Classifier Accuracy score :  0.8483

In [33]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[6847  563]
 [ 919 1440]]

In [34]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.88      0.92      0.90      7410
        >50K       0.72      0.61      0.66      2359

    accuracy                           0.85      9769
   macro avg       0.80      0.77      0.78      9769
weighted avg       0.84      0.85      0.84      9769

## Boosting

In [35]:
# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(random_state=0)
gb.fit(x_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [38]:
y_pred = gb.predict(x_test)
gb_score = accuracy_score(y_test, y_pred)
print('Gradient Boosting Accuracy Score : ', round(gb_score,4))
print('\n')
print(classification_report(y_test, y_pred))

Gradient Boosting Accuracy Score :  0.8621


              precision    recall  f1-score   support

       <=50K       0.88      0.95      0.91      7410
        >50K       0.78      0.59      0.68      2359

    accuracy                           0.86      9769
   macro avg       0.83      0.77      0.79      9769
weighted avg       0.86      0.86      0.86      9769

In [40]:
# LightGBM
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(random_state=0)
lgbm.fit(x_train, y_train)
y_pred = lgbm.predict(x_test)
lgbm_score = accuracy_score(y_test, y_pred)

print('LGBM Accuracy Score : ', round(lgbm_score,4))
print('\n')
print(classification_report(y_test, y_pred))

LGBM Accuracy Score :  0.8677


              precision    recall  f1-score   support

       <=50K       0.89      0.94      0.91      7410
        >50K       0.77      0.65      0.70      2359

    accuracy                           0.87      9769
   macro avg       0.83      0.79      0.81      9769
weighted avg       0.86      0.87      0.86      9769