<a href="https://colab.research.google.com/github/Vaycold/Python_ML/blob/main/Financial_ML/%EA%B8%88%EC%9C%B5%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

   - [US Adult Income] from UCI(https://archieve.jcs.uci.edu/ml/datasets/adult)


    age             : 나이
    workclass       : 직업구분
    education       : 교육수준
    education.num   : 교육수준(numerically coded)
    marital.status  : 혼인상태
    occupation      : 직업
    relationship    : 가족관계
    race            : 인종
    sex             : 성별
    capital.gain    : 자본이득
    capital.loss    : 자본손실
    hours.per.week  : 주당 근로시간
    income          : 소득 구분 ( Binary )

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [6]:
datapath = 'https://github.com/mchoimis/financialML/raw/main/income/'
df = pd.io.parsers.read_csv(datapath+'income.csv')
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]